<div class="form">
    <form [formGroup]="form">
        <textarea matInput  rows="6" formControlName="query" placeholder="Ex. SELECT * FROM TAB" class="text-area"></textarea>
    </form>
    <button mat-raised-button (click)="onSubmit(form)">Otimizar</button>
</div>
<div class="tree" *ngIf="isValid"> 
    <ul>
        <li>
            <a href="#">{{ projecaoPrincipal }}</a>
            <!-- adiciona elemento pai -->
            <ul *ngFor="let juncao of juncoes">
                <li>
                    <a href="#" *ngIf="juncao.join">{{ juncao.join }}</a>
                    <!-- adiciona elemento pai -->
                    <ul *ngIf="juncao.join">
                        <!-- adiciona elemento filho ao lado -->
                        <li *ngFor="let item of juncao.operacoes">
                            <!-- adiciona elemento neto abaixo -->
                            <ul>
                                <!-- adiciona elemento neto abaixo -->
                                <li>
                                    <a href="#">{{ item.projections }}</a>
                                </li>
                            </ul>
                            <ul>
                                <!-- adiciona elemento neto abaixo -->
                                <li>
                                    <a href="#">{{ item.selects }}</a>
                                </li>
                            </ul>
                            <ul>
                                <!-- adiciona elemento neto abaixo -->
                                <li>
                                    <a href="#">{{ item.tabela }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul *ngIf="!juncao.join">
                        <!-- adiciona elemento filho ao lado -->
                        <li *ngFor="let item of juncao.operations">
                            <!-- adiciona elemento neto abaixo -->
                            <ul>
                                <!-- adiciona elemento neto abaixo -->
                                <li>
                                    <a href="#">{{ item.projections }}</a>
                                </li>
                            </ul>
                            <ul>
                                <!-- adiciona elemento neto abaixo -->
                                <li>
                                    <a href="#">{{ item.selects }}</a>
                                </li>
                            </ul>
                            <ul>
                                <!-- adiciona elemento neto abaixo -->
                                <li>
                                    <a href="#">{{ item.tabela }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>