<!-- <form [formGroup]="form">
    <textarea matInput formControlName="query" placeholder="Ex. SELECT * FROM TAB" class="text-area"></textarea>
    <button (click)="onSubmit(form)">Otimizar</button>
</form> -->
<div class="tree">
    <ul>
        <li>
            <a href="#">{{ projecaoPrincipal }}</a>
            <!-- adiciona elemento pai -->
            <ul *ngFor="let juncao of juncoes">
                <li>
                    <a href="#">{{ juncao.join }}</a>
                    <!-- adiciona elemento pai -->
                    <ul>
                        <!-- adiciona elemento filho ao lado -->
                        <li *ngFor="let tabela of tabelas">
                            <!-- adiciona elemento neto abaixo -->
                            <ul >
                                <!-- adiciona elemento neto abaixo -->
                                <li>
                                    <a href="#">{{ tabela }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>